<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Certificate</title>
    <style>
        @page { size: A4 landscape; margin: 2cm; }
        body {
            font-family: Helvetica;
            text-align: center;
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <h1><span style="font-size:32px;font-weight:bold;color:#070054;">CERTIFICATE</span></h1><br><br>
    This document certifies that<br><br>
    <span style="font-size:24px;font-weight:bold;color:#e74c3c;">{{ student_name }}</span><br><br>
    has successfully completed the course<br><br>
    <span style="font-size:24px;font-weight:bold;color:#3498db;">{{ course_name }}</span><br><br><br>

    Instructor: <strong>{{ teacher_name }}</strong><br>
    Date issued: <strong>{{ issue_date }}</strong><br>
    Certificate ID: <strong>{{ serial_number }}</strong><br><br><br><br>

    <table width="100%" style="margin-top:50px;">
        <tr>
            <td width="40%">
                <hr style="width:200px;border-top:1px solid black;"><br>
                Instructor's signature<br>
            </td>
            <td width="20%"></td>
            <td width="40%">
                <hr style="width:200px;border-top:1px solid black;"><br>
                Director's signature<br>
            </td>
        </tr>
    </table>
</body>
</html>